In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

## Ejemplo 11.4 Hipótesis de mercados eficientes (nyse.dta)

In [ ]:
# Siendo yt el retorno semanal
# HME = La información anterior a la semana t no sirve para predecir el rendimiento en t

$$E(y_{t}|y_{t-1},y_{t-2},... ) = E(y_{t}) $$

In [ ]:
# Una forma simple de contrastar la HME es con modelo AR(1)

$$ y_{t} = \beta_{0}+\beta_{1} y_{t-1} + \mu_{t}  $$

In [ ]:
# La Ho = beta1 = 0

In [ ]:
# Bajo la Ho TS2* es verdadero por la expresión de HME
# También vimos que la autocorrelación no es problema en un modelo AR(1)

In [ ]:
# Se supone que vale para la homocedasticidad

$$ Var(y_{t}|y_{t-1}) = Var(y_{t}) = \sigma^{2}$$

In [ ]:
# Entonces podemos suponer dependencia débil, tal que podemos usar test t para contrastar la Ho

In [ ]:
# return, rendimientos semanalaes. Para miércoles festivo se usa el primer cierre siguiente laborable

In [2]:
dfej11_4 = pd.read_stata('nyse.dta')
dfej11_4.head()

       price    return  return_1  t    price_1    price_2    cprice  cprice_1
0  49.750000       NaN       NaN  1        NaN        NaN       NaN       NaN
1  51.439999  3.396982       NaN  2  49.750000        NaN  1.689999       NaN
2  52.049999  1.185849  3.396982  3  51.439999  49.750000  0.610001  1.689999
3  52.279999  0.441882  1.185849  4  52.049999  51.439999  0.230000  0.610001
4  54.240002  3.749049  0.441882  5  52.279999  52.049999  1.960003  0.230000

In [4]:
dfej11_4['return'].describe()

count    690.000000
mean       0.195784
std        2.114532
min      -15.321728
25%       -1.099878
50%        0.334362
75%        1.546531
max        8.448762
Name: return, dtype: float64

In [6]:
# cambio de nombre pero generando serie
retu = dfej11_4['return']

In [4]:
regdfej11_4 = smf.ols('retu ~  retu.shift(1) ', data = dfej11_4).fit()
print(regdfej11_4.summary())

c:\python\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   retu   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.399
Date:                Thu, 16 Jul 2020   Prob (F-statistic):              0.122
Time:                        13:11:01   Log-Likelihood:                -1491.2
No. Observations:                 689   AIC:                             2986.
Df Residuals:                     687   BIC:                             2996.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.1796      0.081      2.225      0.026       0.021       0.338
retu.shift(1)     0.0589      0.038      1.549      0.122      -0.016       0.134
==============================================================================
Omnibus:                      114.206   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              646.991
Skew:                          -0.598   Prob(JB):                    3.22e-141
Kurtosis:                       7.594   Cond. No.                         2.14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# H0 : beta1 = 0 , no puede rechazarse 
# El coeficiente de 0.0589 da una ligera correlación en return , pero no basta para rechazar la HME

In [ ]:
# Para ver si return está correlacionado con los rendimientos de dos semanas atrás, es decir un AR(2)

$$ y_{t} = \beta_{0}+\beta_{1} y_{t-1}+\beta_{2} y_{t-2} + \mu_{t}  $$

$$E(u_{t}|y_{t-1},y_{t-2},... ) = 0 $$

In [ ]:
# Se necesitarían condiciones de estabilidad de los beta, para qeu AR(2) sea débilmente dependiente, pero para el ejemplo
# la H0 es

$$ H_{0}: \beta_{1} = \beta_{2} = 0  $$

In [8]:
# Además se debe suponer igual que antes la homocedasticidad y con ello
# se pueden hacer los test usuales, t, y F

In [7]:
regdfej11_4a = smf.ols('retu ~  retu.shift(1) + retu.shift(2)', data = dfej11_4).fit()
print(regdfej11_4a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   retu   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     1.659
Date:                Wed, 05 Aug 2020   Prob (F-statistic):              0.191
Time:                        20:33:06   Log-Likelihood:                -1489.0
No. Observations:                 688   AIC:                             2984.
Df Residuals:                     685   BIC:                             2998.
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.1857      0.081      2.289      0.022       0.026       0.345
retu.shift(1)     0.0603      0.038      1.580      0.115      -0.015       0.135
retu.shift(2)    -0.0381      0.038     -0.998      0.319      -0.113       0.037
==============================================================================
Omnibus:                      117.320   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              652.237
Skew:                          -0.627   Prob(JB):                    2.34e-142
Kurtosis:                       7.602   Cond. No.                         2.22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Comentario : No son significativos los coeficientes de los rezagos, y el R2 indica que tampoco conjuntamente
# El F , test de significatividad conjunta da 1,659, con un p = 0.191, es decir no se rechaza la H0 de significatividad conjunta

## Ejemplo 11.5 La curva de Phillips aumentada con expectativas (phillips.dta)

$$ inf_{t} - inf_{t}^{e} = \beta_{1} (unemp_{t} - \mu_{0}) + e_{t}$$

In [9]:
# la inflacion esperada se genera en el período t-1 , mu0 es la tasa natural de desempleo
# se modela la inflación no anticipada , en función del desempleo cíclico, más una perturbación de oferta (et), suponiendo 
# beta1 < 0 
# Se completa el modelo con una hipótesis de expectativa simple, adaptativa , con la inflación esperada igual a la inflación 
# oservada en t-1

$$ \Delta inf_{t}= inf_{t} - inf_{t-1} = \beta_{0} + \beta_{1} unemp_{t}  + e_{t}$$

$$ \beta_{0} = - \beta_{1} \mu_{0}$$

In [ ]:
# Entonces, queda relacionada la variación de la inflación con el nivel de desempleo y una perturbación de oferta
# Se supone habitualmente que et está incorrelacionado con unemt
# Entonces las estimaciones son consistentes con MCO
# no necesita suponerse que por ejemplo et no afecte unem en periodos futuros

In [5]:
dfej11_5 = pd.read_stata('phillips.dta')
dfej11_5.head()

   year  unem  inf  unem_1  inf_1  unem_2  inf_2  cunem  cinf  cunem_1  cinf_1
0  1948   3.8  8.1     NaN    NaN     NaN    NaN    NaN   NaN      NaN     NaN
1  1949   5.9 -1.2     3.8    8.1     NaN    NaN    2.1  -9.3      NaN     NaN
2  1950   5.3  1.3     5.9   -1.2     3.8    8.1   -0.6   2.5      2.1    -9.3
3  1951   3.3  7.9     5.3    1.3     5.9   -1.2   -2.0   6.6     -0.6     2.5
4  1952   3.0  1.9     3.3    7.9     5.3    1.3   -0.3  -6.0     -2.0     6.6

In [6]:
inflation = dfej11_5.inf

In [7]:
regdfej11_5 = smf.ols('inflation.diff() ~  unem ', data = dfej11_5).fit()
print(regdfej11_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       inflation.diff()   R-squared:                       0.108
Model:                            OLS   Adj. R-squared:                  0.088
Method:                 Least Squares   F-statistic:                     5.558
Date:                Thu, 16 Jul 2020   Prob (F-statistic):             0.0227
Time:                        13:11:02   Log-Likelihood:                -110.12
No. Observations:                  48   AIC:                             224.2
Df Residuals:                      46   BIC:                             228.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.0306      1.377      2.201      0.033       0.259       5.802
unem          -0.5426      0.230     -2.357      0.023      -1.006      -0.079
==============================================================================
Omnibus:                       22.805   Durbin-Watson:                   1.770
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               52.071
Skew:                          -1.239   Prob(JB):                     4.93e-12
Kurtosis:                       7.460   Cond. No.                         23.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Comentarios

## Ejemplo 11.6 Ecuación de fertilidad (fertil3.dta)

In [2]:
dfej11_6 = pd.read_stata('fertil3.dta')
dfej11_6.head()

,gfr,pe,year,t,tsq,pe_1,pe_2,pe_3,pe_4,pill,...,cpe_1,cpe_2,cpe_3,cpe_4,gfr_1,cgfr_1,cgfr_2,cgfr_3,cgfr_4,gfr_2
0,124.699997,0.00,1913,1,1,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126.599998,0.00,1914,2,4,0.0,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,124.699997,NaN,NaN,NaN,NaN,NaN
2,125.000000,0.00,1915,3,9,0.0,0.0,NaN,NaN,0,...,0.0,NaN,NaN,NaN,126.599998,1.900002,NaN,NaN,NaN,124.699997
3,123.400002,0.00,1916,4,16,0.0,0.0,0.0,NaN,0,...,0.0,0.0,NaN,NaN,125.000000,-1.599998,1.900002,NaN,NaN,126.599998
4,121.000000,19.27,1917,5,25,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,NaN,123.400002,-1.599998,-1.599998,1.900002,NaN,125.000000

In [4]:
dfej11_6.gfr.autocorr()

0.9764517033176181

In [5]:
dfej11_6.pe.autocorr()

0.963580000367962

In [17]:
regdfej11_6 = smf.ols('gfr.diff() ~  pe.diff() ', data = dfej11_6).fit()
print(regdfej11_6.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             gfr.diff()   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     2.263
Date:                Wed, 15 Jul 2020   Prob (F-statistic):              0.137
Time:                        22:57:18   Log-Likelihood:                -201.97
No. Observations:                  71   AIC:                             407.9
Df Residuals:                      69   BIC:                             412.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.7848      0.502     -1.563      0.123      -1.786       0.217
pe.diff()     -0.0427      0.028     -1.504      0.137      -0.099       0.014
==============================================================================
Omnibus:                       13.747   Durbin-Watson:                   1.355
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.832
Skew:                           0.816   Prob(JB):                     0.000134
Kurtosis:                       4.834   Cond. No.                         17.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 11.7 Salarios y productividad (earns.dta)

In [18]:
dfej11_7 = pd.read_stata('earns.dta')
dfej11_7.head()

,year,wkearns,wkhours,outphr,hrwage,lhrwage,loutphr,t,ghrwage,goutphr,ghrwge_1,goutph_1,goutph_2,lwkhours
0,1947,123.519997,40.299999,51.400002,3.065012,1.120052,3.939638,1,NaN,NaN,NaN,NaN,NaN,3.696352
1,1948,123.430000,40.000000,53.299999,3.085750,1.126795,3.975936,2,0.006743,0.036298,NaN,NaN,NaN,3.688879
2,1949,127.839996,39.400002,54.200001,3.244670,1.177014,3.992681,3,0.050219,0.016745,0.006743,0.036298,NaN,3.673766
3,1950,133.830002,39.799999,57.700001,3.362563,1.212703,4.055257,4,0.035690,0.062576,0.050219,0.016745,0.036298,3.683867
4,1951,134.869995,39.900002,59.400002,3.380200,1.217935,4.084294,5,0.005231,0.029037,0.035690,0.062576,0.016745,3.686376

In [21]:
regdfej11_7 = smf.ols('np.log(hrwage) ~  np.log(outphr) + t ', data = dfej11_7).fit()
print(regdfej11_7.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(hrwage)   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.970
Method:                 Least Squares   F-statistic:                     641.2
Date:                Wed, 15 Jul 2020   Prob (F-statistic):           5.27e-30
Time:                        23:01:09   Log-Likelihood:                 89.196
No. Observations:                  41   AIC:                            -172.4
Df Residuals:                      38   BIC:                            -167.3
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -5.3285      0.374    -14.230      0.000      -6.086      -4.570
np.log(outphr)     1.6396      0.093     17.565      0.000       1.451       1.829
t                 -0.0182      0.002    -10.428      0.000      -0.022      -0.015
==============================================================================
Omnibus:                        1.119   Durbin-Watson:                   0.567
Prob(Omnibus):                  0.572   Jarque-Bera (JB):                0.913
Skew:                          -0.055   Prob(JB):                        0.633
Kurtosis:                       2.277   Cond. No.                     2.12e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.12e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 11.8 Ecuación de fertilidad* (fertil3.dta)