In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

c:\python\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

## Ejemplo 6.1 Efectos de la contamlnación en los precios de la vlvienda (hprice2.dta)

In [2]:
dfej6_1= pd.read_stata('hprice2.dta')
dfej6_1.head()

,price,crime,nox,rooms,dist,radial,proptax,stratio,lowstat,lprice,lnox,lproptax
0,24000.0,0.006,5.38,6.57,4.09,1,29.600000,15.300000,4.98,10.085809,1.682688,5.690360
1,21599.0,0.027,4.69,6.42,4.97,2,24.200001,17.799999,9.14,9.980402,1.545433,5.488938
2,34700.0,0.027,4.69,7.18,4.97,2,24.200001,17.799999,4.03,10.454495,1.545433,5.488938
3,33400.0,0.032,4.58,7.00,6.06,3,22.200001,18.700001,2.94,10.416311,1.521699,5.402678
4,36199.0,0.069,4.58,7.15,6.06,3,22.200001,18.700001,5.33,10.496787,1.521699,5.402678

In [7]:
regdfej6_1 = smf.ols('price ~ nox + crime + rooms + dist + stratio', data = dfej6_1).fit() 
print(regdfej6_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     174.5
Date:                Sat, 11 Jul 2020   Prob (F-statistic):          3.61e-107
Time:                        18:26:20   Log-Likelihood:                -5080.8
No. Observations:                 506   AIC:                         1.017e+04
Df Residuals:                     500   BIC:                         1.020e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.087e+04   5054.599      4.129      0.000    1.09e+04    3.08e+04
nox        -2706.4326    354.087     -7.643      0.000   -3402.114   -2010.751
crime       -153.6010     32.929     -4.665      0.000    -218.297     -88.905
rooms       6735.4983    393.604     17.112      0.000    5962.177    7508.819
dist       -1026.8063    188.108     -5.459      0.000   -1396.386    -657.227
stratio    -1149.2038    127.429     -9.018      0.000   -1399.566    -898.842
==============================================================================
Omnibus:                      272.145   Durbin-Watson:                   0.865
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2647.578
Skew:                           2.150   Prob(JB):                         0.00
Kurtosis:                      13.348   Cond. No.                         432.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
from scipy.stats import zscore

In [11]:
# convierte todos los valores del dataframe en tipificados, es decir, z scores
df61 = dfej6_1.apply(zscore)

In [12]:
regdfej6_1z = smf.ols('price ~ nox + crime + rooms + dist + stratio', data = df61).fit() 
print(regdfej6_1z.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     174.5
Date:                Sat, 11 Jul 2020   Prob (F-statistic):          3.61e-107
Time:                        18:53:57   Log-Likelihood:                -462.53
No. Observations:                 506   AIC:                             937.1
Df Residuals:                     500   BIC:                             962.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.556e-07      0.027   5.77e-06      1.000      -0.053       0.053
nox           -0.3404      0.045     -7.643      0.000      -0.428      -0.253
crime         -0.1433      0.031     -4.665      0.000      -0.204      -0.083
rooms          0.5139      0.030     17.112      0.000       0.455       0.573
dist          -0.2348      0.043     -5.459      0.000      -0.319      -0.150
stratio       -0.2703      0.030     -9.018      0.000      -0.329      -0.211
==============================================================================
Omnibus:                      272.145   Durbin-Watson:                   0.865
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2647.578
Skew:                           2.150   Prob(JB):                         0.00
Kurtosis:                      13.348   Cond. No.                         3.33
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 6.2 Efectos de la contamlnaclón sobre los precios de la vlvlenda* (hprice2.dta)

In [3]:
regdfej6_2 = smf.ols('np.log(price) ~ np.log(nox) + np.log(dist)+ rooms + np.square(rooms) + stratio', data = dfej6_1).fit() 
print(regdfej6_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(price)   R-squared:                       0.603
Model:                            OLS   Adj. R-squared:                  0.599
Method:                 Least Squares   F-statistic:                     151.8
Date:                Wed, 06 Oct 2021   Prob (F-statistic):           7.89e-98
Time:                        14:29:47   Log-Likelihood:                -31.806
No. Observations:                 506   AIC:                             75.61
Df Residuals:                     500   BIC:                             101.0
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           13.3855      0.566     23.629      0.000      12.273      14.498
np.log(nox)         -0.9017      0.115     -7.862      0.000      -1.127      -0.676
np.log(dist)        -0.0868      0.043     -2.005      0.045      -0.172      -0.002
rooms               -0.5451      0.165     -3.295      0.001      -0.870      -0.220
np.square(rooms)     0.0623      0.013      4.862      0.000       0.037       0.087
stratio             -0.0476      0.006     -8.129      0.000      -0.059      -0.036
==============================================================================
Omnibus:                       56.649   Durbin-Watson:                   0.691
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              384.168
Skew:                          -0.100   Prob(JB):                     3.79e-84
Kurtosis:                       7.264   Cond. No.                     2.30e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.3e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [9]:
regdfej6_2.params

Intercept           13.385477
np.log(nox)         -0.901682
np.log(dist)        -0.086781
rooms               -0.545113
np.square(rooms)     0.062261
stratio             -0.047590
dtype: float64

In [4]:
regdfej6_2.params[3]

-0.5451127871831934

In [5]:
regdfej6_2.params[4]

0.062261185880781424

$dlog(price)/d (rooms) = \hat \beta_{3} + 2 \hat \beta_{4} (roons)$

In [ ]:
# para rooms = 5

In [10]:
regdfej6_2.params[3]+2*regdfej6_2.params[4]*5

0.07749907162462077

In [ ]:
# El punto de inflexión

In [8]:
np.absolute(regdfej6_2.params[3]/(2*regdfej6_2.params[4]))

4.377629332558674

## Ejemplo 6.3 Efectos de la asistencia en la calificación del examen final (attend.dta)

In [2]:
dfej6_3= pd.read_stata('attend.dta')
 dfej6_3.ACT.head()

,attend,termgpa,priGPA,ACT,final,atndrte,hwrte,frosh,soph,skipped,stndfnl
0,27,3.19,2.64,23,28,84.375,100.0,0,1,5,0.472689
1,22,2.73,3.52,25,26,68.750,87.5,0,0,10,0.052521
2,30,3.00,2.46,24,30,93.750,87.5,0,0,2,0.892857
3,31,2.04,2.61,20,27,96.875,100.0,0,1,1,0.262605
4,32,3.68,3.32,23,34,100.000,100.0,0,1,0,1.733193

In [45]:
dfej6_3.dtypes

attend        int8
termgpa    float32
priGPA     float32
ACT        float64
final         int8
atndrte    float32
hwrte      float32
frosh         int8
soph          int8
skipped       int8
stndfnl    float32
ACTs          int8
dtype: object

In [44]:
dfej6_3['ACT'] = dfej6_3['ACT'].astype(float)

In [47]:
dfej6_3['attend'] = dfej6_3['attend'].astype(float)

In [48]:
dfej6_3['final'] = dfej6_3['final'].astype(float)

In [ ]:
#Ojo con el error. Si es entero, en este caso, quizás por el trabajo acumulado del kernel, a los enteros no les salía 
# el cuadrado . Por ejemplo en ACT(23 *23 = 17)

In [49]:
regdfej6_3 = smf.ols('stndfnl ~ atndrte + priGPA + ACT + np.power(priGPA,2) + np.power(ACT,2) + priGPA*atndrte ', data = dfej6_3).fit() 
print(regdfej6_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                stndfnl   R-squared:                       0.229
Model:                            OLS   Adj. R-squared:                  0.222
Method:                 Least Squares   F-statistic:                     33.25
Date:                Sat, 11 Jul 2020   Prob (F-statistic):           3.49e-35
Time:                        21:35:40   Log-Likelihood:                -868.90
No. Observations:                 680   AIC:                             1752.
Df Residuals:                     673   BIC:                             1783.
Df Model:                           6
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               2.0503      1.360      1.507      0.132      -0.621       4.721
atndrte                -0.0067      0.010     -0.656      0.512      -0.027       0.013
priGPA                 -1.6285      0.481     -3.386      0.001      -2.573      -0.684
ACT                    -0.1280      0.098     -1.300      0.194      -0.321       0.065
np.power(priGPA, 2)     0.2959      0.101      2.928      0.004       0.097       0.494
np.power(ACT, 2)        0.0045      0.002      2.083      0.038       0.000       0.009
priGPA:atndrte          0.0056      0.004      1.294      0.196      -0.003       0.014
==============================================================================
Omnibus:                        2.581   Durbin-Watson:                   2.279
Prob(Omnibus):                  0.275   Jarque-Bera (JB):                2.474
Skew:                          -0.095   Prob(JB):                        0.290
Kurtosis:                       3.226   Cond. No.                     2.43e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.43e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 6.4 Salarios de los directores eiecutivos y resultados de la empresa (ceosal1.dta)

In [6]:
dfej6_4= pd.read_stata('ceosal1.dta')
dfej6_4.head()

,salary,pcsalary,sales,roe,pcroe,ros,indus,finance,consprod,utility,lsalary,lsales
0,1095,20,27595.000000,14.1,106.400002,191,1,0,0,0,6.998509,10.225389
1,1001,32,9958.000000,10.9,-30.600000,13,1,0,0,0,6.908755,9.206132
2,1122,9,6125.899902,23.5,-16.299999,14,1,0,0,0,7.022868,8.720281
3,578,-9,16246.000000,5.9,-25.700001,-21,1,0,0,0,6.359574,9.695602
4,1368,7,21783.199219,13.8,-3.000000,56,1,0,0,0,7.221105,9.988894

In [7]:
regdfej6_4 = smf.ols('salary ~ sales + roe  ', data = dfej6_4).fit() 
print(regdfej6_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     3.095
Date:                Mon, 13 Jul 2020   Prob (F-statistic):             0.0474
Time:                        16:45:12   Log-Likelihood:                -1802.8
No. Observations:                 209   AIC:                             3612.
Df Residuals:                     206   BIC:                             3622.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    830.6313    223.905      3.710      0.000     389.192    1272.070
sales          0.0163      0.009      1.842      0.067      -0.001       0.034
roe           19.6310     11.077      1.772      0.078      -2.207      41.469
==============================================================================
Omnibus:                      317.716   Durbin-Watson:                   2.122
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            34478.352
Skew:                           7.159   Prob(JB):                         0.00
Kurtosis:                      64.272   Cond. No.                     3.02e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# HAcer la otra reg y competar todo lo del ejercicio

## Ejemplo 6.5 (lntervalo de confianza para las predicciones de las calificaciones universitarias (gpa2.dta)

In [3]:
dfej6_5= pd.read_stata('gpa2.dta')
dfej6_5.head()

,sat,tothrs,colgpa,athlete,verbmath,hsize,hsrank,hsperc,female,white,black,hsizesq
0,920,43,2.04,1,0.48387,0.10,4,40.000000,1,0,0,0.010000
1,1170,18,4.00,0,0.82813,9.40,191,20.319149,0,1,0,88.360001
2,810,14,1.78,1,0.88372,1.19,42,35.294117,0,1,0,1.416100
3,940,40,2.42,0,0.80769,5.71,252,44.133099,0,1,0,32.604099
4,1180,18,2.61,0,0.73529,2.14,86,40.186916,0,1,0,4.579600

In [23]:
regdfej6_5 = smf.ols('colgpa ~ sat + hsperc + hsize + np.square(hsize)  ', data = dfej6_5).fit() 
print(regdfej6_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 colgpa   R-squared:                       0.278
Model:                            OLS   Adj. R-squared:                  0.277
Method:                 Least Squares   F-statistic:                     398.0
Date:                Thu, 03 Sep 2020   Prob (F-statistic):          2.13e-290
Time:                        19:32:40   Log-Likelihood:                -3467.9
No. Observations:                4137   AIC:                             6946.
Df Residuals:                    4132   BIC:                             6978.
Df Model:                           4
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            1.4927      0.075     19.812      0.000       1.345       1.640
sat                  0.0015   6.52e-05     22.886      0.000       0.001       0.002
hsperc              -0.0139      0.001    -24.698      0.000      -0.015      -0.013
hsize               -0.0609      0.017     -3.690      0.000      -0.093      -0.029
np.square(hsize)     0.0055      0.002      2.406      0.016       0.001       0.010
==============================================================================
Omnibus:                      194.990   Durbin-Watson:                   1.879
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              239.365
Skew:                          -0.497   Prob(JB):                     1.05e-52
Kurtosis:                       3.633   Cond. No.                     9.02e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
# Como no está definido en los comandos que pueda ponerse la resta en la regresión, la defino fuera 
def res(x,y):
    return x - y

In [15]:
regdfej6_5a = smf.ols('colgpa ~ res(sat,1200) + res(hsperc,30) + res(hsize,5) + res(np.square(hsize),25)  ', data = dfej6_5).fit() 
print(regdfej6_5a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 colgpa   R-squared:                       0.278
Model:                            OLS   Adj. R-squared:                  0.277
Method:                 Least Squares   F-statistic:                     398.0
Date:                Thu, 03 Sep 2020   Prob (F-statistic):          2.13e-290
Time:                        18:43:55   Log-Likelihood:                -3467.9
No. Observations:                4137   AIC:                             6946.
Df Residuals:                    4132   BIC:                             6978.
Df Model:                           4
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     2.7001      0.020    135.833      0.000       2.661       2.739
res(sat, 1200)                0.0015   6.52e-05     22.886      0.000       0.001       0.002
res(hsperc, 30)              -0.0139      0.001    -24.698      0.000      -0.015      -0.013
res(hsize, 5)                -0.0609      0.017     -3.690      0.000      -0.093      -0.029
res(np.square(hsize), 25)     0.0055      0.002      2.406      0.016       0.001       0.010
==============================================================================
Omnibus:                      194.990   Durbin-Watson:                   1.879
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              239.365
Skew:                          -0.497   Prob(JB):                     1.05e-52
Kurtosis:                       3.633   Cond. No.                         544.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Viebdo si puedo hacer el intervalo de otra manera
# obviamente que lo puedo hacer manual (ver como )

In [25]:
dfej6_5.dtypes

sat         float64
tothrs        int16
colgpa      float32
athlete        int8
verbmath    float32
hsize       float64
hsrank        int16
hsperc      float32
female         int8
white          int8
black          int8
hsizesq     float32
dtype: object

In [21]:
dfej6_5['sat'] = dfej6_5['sat'].astype(float)

In [29]:
regdfej6_5.get_prediction(dfej6_5, weights=1).summary_frame()

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,2.305485,0.024769,2.256925,2.354045,1.206777,3.404193
1,2.867522,0.080109,2.710466,3.024578,1.758708,3.976336
2,2.147831,0.018498,2.111564,2.184098,1.049597,3.246064
3,2.114496,0.021966,2.071431,2.157561,1.016017,3.212975
4,2.591697,0.020501,2.551505,2.631890,1.493327,3.690068
...,...,...,...,...,...,...
4132,2.328759,0.015203,2.298952,2.358565,1.230720,3.426798
4133,2.552751,0.025143,2.503456,2.602045,1.454010,3.651491
4134,3.435517,0.029192,3.378285,3.492749,2.336391,4.534642
4135,2.024137,0.029942,1.965435,2.082839,0.924934,3.123340
4136,3.306716,0.026927,3.253925,3.359507,2.207813,4.405619

In [27]:
# si le pongo por ejemplo 10 , que será 10 puntos adicionales, me da que no puede por sat entero, pero convierto y no lo hace
regdfej6_5.get_prediction()

In [16]:
regdfej6_5.conf_int(0.05)

                         0         1
Intercept         1.344942  1.640362
sat               0.001365  0.001620
hsperc           -0.014956 -0.012756
hsize            -0.093233 -0.028530
np.square(hsize)  0.001010  0.009910

## Ejemplo 6.6 lntervalo de confianza para las predicciones de las calificaciones universitarias* (gpa2.dta)

## Ejemplo 6.7 Predicción de los salarios de los directores generales (ceosal2.dta)

In [10]:
dfej6_7= pd.read_stata('ceosal2.dta')
dfej6_7.head()

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,lsalary,lsales,lmktval,comtensq,ceotensq,profmarg
0,1161,49,1,1,9,2,6200.0,966,23200.0,7.057037,8.732305,10.051908,81,4,15.580646
1,600,43,1,1,10,10,283.0,48,1100.0,6.396930,5.645447,7.003066,100,100,16.961130
2,379,51,1,1,9,3,169.0,40,1100.0,5.937536,5.129899,7.003066,81,9,23.668638
3,651,55,1,0,22,22,1100.0,-54,1000.0,6.478509,7.003066,6.907755,484,484,-4.909091
4,497,44,1,1,8,6,351.0,28,387.0,6.208590,5.860786,5.958425,64,36,7.977208

In [11]:
regdfej6_7 = smf.ols('np.log(salary) ~ np.log(sales) + np.log(mktval) + ceoten ', data = dfej6_7).fit() 
print(regdfej6_7.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.318
Model:                            OLS   Adj. R-squared:                  0.306
Method:                 Least Squares   F-statistic:                     26.91
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           2.47e-14
Time:                        16:55:31   Log-Likelihood:                -128.12
No. Observations:                 177   AIC:                             264.2
Df Residuals:                     173   BIC:                             276.9
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          4.5038      0.257     17.509      0.000       3.996       5.012
np.log(sales)      0.1629      0.039      4.150      0.000       0.085       0.240
np.log(mktval)     0.1092      0.050      2.203      0.029       0.011       0.207
ceoten             0.0117      0.005      2.198      0.029       0.001       0.022
==============================================================================
Omnibus:                       25.596   Durbin-Watson:                   2.044
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              123.522
Skew:                          -0.291   Prob(JB):                     1.51e-27
Kurtosis:                       7.051   Cond. No.                         95.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 6.8 Predicción de los salarios de los directores generales* (ceosal2.dta)

In [12]:
regdfej6_8 = smf.ols('salary ~ sales + mktval + ceoten ', data = dfej6_7).fit() 
print(regdfej6_8.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.187
Method:                 Least Squares   F-statistic:                     14.53
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           1.74e-08
Time:                        16:57:11   Log-Likelihood:                -1359.3
No. Observations:                 177   AIC:                             2727.
Df Residuals:                     173   BIC:                             2739.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    613.4361     65.237      9.403      0.000     484.673     742.199
sales          0.0190      0.010      1.891      0.060      -0.001       0.039
mktval         0.0234      0.009      2.468      0.015       0.005       0.042
ceoten        12.7034      5.618      2.261      0.025       1.615      23.792
==============================================================================
Omnibus:                      187.324   Durbin-Watson:                   2.166
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6405.956
Skew:                           3.916   Prob(JB):                         0.00
Kurtosis:                      31.412   Cond. No.                     1.59e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.